:root {
  --background-colour: #f2f9f1;
  --primary-colour: #5c715e;
  --secondary-colour: #b6cdbd;
  --accent-colour: #fff8ed;
  --default-font-family: "Josefin Sans", serif;
  --heading-font-family: "Josefin Slab", sans-serif;
}
body {
  background-color: var(--background-colour);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
section {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(184, 180, 180, 0.4),
      rgba(45, 43, 43, 0.4)
    ),
    url("../images/gribin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-colour);
  text-align: center;
  padding: 200px 0;
}
h1 {
  font-family: var(--default-font-family);
  font-weight: 600px;
  font-size: 66px;
  line-height: 1.5;
  margin: 10px 0;
}
header h2 {
  color: var(--accent-colour);
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.5;
  margin: 20px 0;
}
header a {
  color: var(--accent-colour);
  background-color: #000;
  font-family: var(--default-font-family);
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  padding: 16px 32px;
  margin-top: 32px;
  letter-spacing: 1px;
  transition: ease-out 0.5s;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #fff8ed;
}
header a:hover {
  color: #000;
  background-color: var(--accent-colour);
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 #fff8ed;
}
header a:active {
  transform: scale(0.9);
}
footer {
  color: var(--accent-colour);
  background-image: linear-gradient(
      rgba(45, 43, 43, 0.4),
      rgba(45, 43, 43, 0.4)
    ),
    url("../images/harbour.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: var(--accent-colour);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: #000;
  text-decoration: underline;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 26px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
