:root {
  --background-colour: #e3d9ca;
  --primary-colour: #5c715e;
  --secondary-colour: #a7b99e;
  --accent-colour: #fff8ed;
  --default-font-family: "Josefin Sans", serif;
  --heading-font-family: "Josefin Slab", sans-serif;
}
body {
  background-color: var(--background-colour);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
  color: var(--accent-colour);
}
.grid {
  display: grid;
  grid-gap: 40px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}
.card {
  background-color: var(--accent-colour);
  margin: 20px 0;
}
.card-body {
  padding: 30px;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.instagram-embeds {
  margin: 30px 0;
}
header {
  background-image: linear-gradient(
      rgba(184, 180, 180, 0.4),
      rgba(45, 43, 43, 0.4)
    ),
    url("../images/gribin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-colour);
  text-align: center;
  padding: 200px 0;
}
h1 {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 72px;
  line-height: 1.5;
  margin: 10px 0;
}
h3 {
  color: var(--primary-colour);
  font-family: var(--heading-font-family);
  font-size: 36px;
  line-height: 1.5;
  margin: 10px 0;
}
header h2 {
  color: #fff8ed;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.5;
  margin: 20px 0;
  text-decoration: underline 2.5px #fdac61;
}
header a {
  color: var(--accent-colour);
  background-color: #000;
  font-size: 16px;
  font-family: var(--default-font-family);
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 32px;
  letter-spacing: 2px;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #fff8ed;
}
header a:hover {
  color: #000;
  background-color: var(--accent-colour);
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 #fff8ed;
}
header a:active {
  transform: scale(0.9);
}
.img-responsive {
  width: 100%;
  display: block;
  filter: contrast(88%) saturate(120%);
}
.banner {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}
.banner h4 {
  color: #fdac61;
  font-size: 22px;
  font-weight: 400;
  font-family: var(--default-font-family);
  letter-spacing: 4px;
  display: inline-block;
  padding-left: 100%;
  animation: banner 50s linear infinite;
}
@keyframes banner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
main {
  background-color: var(--accent-colour);
}
main h2 {
  color: var(--primary-colour);
  font-family: var(--heading-font-family);
  font-size: 44px;
  margin: 6px 0px;
  line-height: 1.5;
}
main p {
  color: #736e68;
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;
}
section.places {
  background-color: var(--primary-colour);
}
section.gallery {
  background-color: #736e68;
  padding: 40px;
}
hr {
  border: 0.5px solid #fdac61;
}
.btn {
  display: block;
  color: var(--accent-colour);
  background-color: var(--primary-colour);
  font-family: var(--default-font-family);
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 16px;
  box-shadow: inset 0 0 0 0 #fff8ed;
  transition: ease-out 0.5s;
}
.btn:hover {
  background-color: #fdac61;
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 #fdac61;
}
footer {
  color: var(--accent-colour);
  background-image: linear-gradient(
      rgba(45, 43, 43, 0.4),
      rgba(45, 43, 43, 0.4)
    ),
    url("../images/harbour.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: var(--accent-colour);
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}
footer a:hover {
  color: #fdac61;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 38px;
  }
  header h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  main p {
    font-size: 16px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}
