:root {
  --background-colour: #f2f9f1;
  --primary-colour: #5c715e;
  --secondary-colour: #b6cdbd;
  --accent-colour: #f6eedf;
  --heading-font-family: "Josefin Sans", serif;
  --default-font-family: "Josefin Slab", sans-serif;
}
body {
  background-color: var(--background-colour);
}
h1 {
  color: var(--primary-colour);
  font-family: var(--heading-font-family);
  text-align: center;
}
h2 {
  font-family: var(--default-font-family);
  text-align: center;
}
footer {
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
footer a {
  color: #b6cdbd;
}
